{% extends 'base.html' %}

{% load static %}
{% block content %}

<link rel="stylesheet" href="{{cssUrl}}/basics/index.css">

<div class="textbox">
    <h2>About StachieGraph</h2>
    <p>
        StachieGraph is my current hobby project.
        Let's see how long it'll take until i lose interest.
    </p>

    <h2>Index</h2>
    <p>
        This section contains a list of all pages in this project.
        Each page is not represented via text but as an image, for beauty
        reasons.
    </p>

    <div class="link-gallery">
        <a href="/graph/tree" class="gallery-link">
            <img src="{{imgUrl}}/placeholder/gallery-treegraph.png"/>
            <div class="hovertext">
                Tree
            </div>
        </a>
        <a href="/graph/membercount" class="gallery-link">
            <img src="{{imgUrl}}/placeholder/gallery-membercount.png"/>
            <div class="hovertext">
                Member count
            </div>
        </a>
        <a href="/graph/tadpole" class="gallery-link">
            <img src="{{imgUrl}}/placeholder/gallery-tadpole.png"/>
            <div class="hovertext">
                Tadpole
            </div>
        </a>
        <a href="/graph/pyramid" class="gallery-link">
            <img src="{{imgUrl}}/placeholder/gallery-pyramid.png"/>
            <div class="hovertext">
                Pyramid
            </div>
        </a>
        <a href="/convert" class="gallery-link">
            <img src="{{imgUrl}}/placeholder/gallery-converter.png"/>
            <div class="hovertext">
                Converter
            </div>
        </a>
    </div>
</div>

{% endblock content %}