{% extends 'base.html' %}

{% load static %}
{% block content %}

<link rel="stylesheet" href="{{cssUrl}}/graphs/membercount.css">
<script src="{{jsUrl}}/lib/d3.v7.min.js"></script>

<div class="tools-graph-container">
    <div class="container-block">
        <div id="tools">
            <div class="row">
                This graph shows how many members a family has
                (= how many people have been born in this family).
                Deceased people are not removed from the count, which is why it
                always goes up.
            </div>
            <details open>
                <summary>
                    Filter
                </summary>
                <div class="row">
                    <input id="lastname-filter"
                        name="lastname-filter"
                        type="text"
                        placeholder="Filter..."
                        oninput="updateInterestingLastNames(this.value);"
                        />
                </div>
                <div class="row">
                    <details>
                        <summary>
                            List of all last names in your dataset:
                        </summary>
                        <ul id="lastname-list">
                        </ul>
                    </details>
                </div>
            </details>
            <details open>
                <summary>
                    Year
                </summary>
                <div class="row">
                    <input id="yearinput"
                        name="yearinput"
                        type="number"
                        placeholder="Jump to year..."
                        onchange="yearinputChange(this.value);"
                        />
                    <button id="submit-yearinput"
                        onclick="yearinputChange($('#yearinput').val());">
                        GO!
                    </button>
                </div>
                <div class="row">
                    <button id="playpause"
                        onclick="togglePlayPause()">
                        Play / Pause
                    </button>
                </div>
                <div class="row">
                    <button id="goto-min"
                        onclick="goToMinYear()">
                        Go to first year
                    </button>
                </div>
                <div class="row">
                    <button id="goto-max"
                        onclick="goToMaxYear()">
                        Go to last year
                    </button>
                </div>
            </details>
        </div>
    </div>
    <div class="container-block">
        <svg id="graph"></svg>
        <div id="year-container">
            <div id="year"></div>
        </div>
    </div>
</div>

<div id="details"></div>


<script src="{{jsUrl}}/configparser.js"></script>
<script>
    let p = new ConfigParser;

    // CONFIG ---------------------------------------------
    let config_interestingLastNames = "{{ config_interestingLastNames }}";

    let transportData = p.json2object("{{ data|escapejs }}");

    let config_minYear = p.str2number("{{ config_minYear }}");
    let config_maxYear = p.str2number("{{ config_maxYear }}");
</script>

<script src="{{jsUrl}}/plot.js"></script>
<script src="{{jsUrl}}/graphs/membercount.js"></script>

{% endblock content %}