{% extends 'base.html' %}

{% load static %}
{% block content %}

<link rel="stylesheet" href="{{cssUrl}}/graphs/tadpole.css">
<script src="{{jsUrl}}/lib/d3.v7.min.js"></script>

<canvas id="graph"></canvas>
<div id="node-details">
    <span id="node-details-name"></span><br>
    <span id="node-details-birthdate"></span>
</div>

<div id="tools">
    <div id="toggle-tools-container">
        <div id="toggle-tools"
            onclick="toggleToolsDisplay()">
        </div>
    </div>
    <details open>
        <summary>
            Filter
        </summary>
        <div class="row">
            <input id="filter"
                type="text"
                placeholder="Filter..."
                oninput="updateInterestingLastNames(this.value);"
                />
        </div>
    </details>
    <details open>
        <summary>
            Year
        </summary>
        <div class="row">
            <input id="yearinput"
                name="yearinput"
                type="number"
                placeholder="Jump to year..."
                onchange="yearinputChange(this.value);"
                />
            <button id="submit-yearinput"
                onclick="yearinputChange($('#yearinput').val());">
                GO!
            </button>
        </div>
        <div class="row">
            <button id="playpause"
                onclick="togglePlayPause()">
                Play / Pause
            </button>
        </div>
        <div class="row">
            <button id="goto-min"
                onclick="goToMinYear()">
                Go to first year
            </button>
        </div>
        <div class="row">
            <button id="goto-max"
                onclick="goToMaxYear()">
                Go to last year
            </button>
        </div>
    </details>
    <details open>
        <summary>
            Scale
        </summary>
        <div class="row">
            <label for="updaterange-checkbox">
                Update range over time
            </label>
            <input id="updaterange-checkbox"
                type="checkbox"
                checked
                onchange="setUpdateRange(this.checked);">
        </div>
    </details>
    <!--<details>
        <summary>
            Background
        </summary>
        <div class="row">
            <input id="colorpicker-bg"
                type="color"
                onchange="setBgColor(this.value);">
            Background color
        </div>
    </details>-->
    <!--<details>
        <summary>
            Nodes
        </summary>
        <div class="row">
            <label for="ncp-activecheckbox">
                Display only active colors
            </label>
            <input id="ncp-activecheckbox"
                type="checkbox"
                onchange="nodesColorPaletteCheckboxOnChange(this.checked);">
        </div>
        <div class="row" id="nodes-colpal-container">
        </div>
    </details>-->
</div>

<div id="year-container">
    <div id="year"></div>
</div>

<script src="{{jsUrl}}/configparser.js"></script>
<script>
    var p = new ConfigParser;

    // CONFIG ---------------------------------------------
    var config_interestingLastNames = "{{ config_interestingLastNames }}";

    var transportData = p.json2object("{{ data|escapejs }}");

    var config_updateRange = p.str2pybool("{{ config_updateRange }}");
    console.log("{{ config_updateRange }}")

    var config_minYear = p.str2number("{{ config_minYear }}");
    var config_maxYear = p.str2number("{{ config_maxYear }}");
</script>

<script src="{{jsUrl}}/plot.js"></script>
<script src="{{jsUrl}}/graphs/tadpole.js"></script>

{% endblock content %}