{% extends 'base.html' %}

{% load static %}
{% block content %}

<link rel="stylesheet" href="{{cssUrl}}/graphs/tree.css">
<script src="{{jsUrl}}/lib/d3.v7.min.js"></script>

<canvas id="graph"></canvas>
<div id="node-details">
    <span id="node-details-name"></span><br>
    <span id="node-details-birthdate"></span>
</div>

<div id="tools">
    <div id="toggle-tools-container">
        <div id="toggle-tools"
            onclick="toggleToolsDisplay()">
        </div>
    </div>
    <details open>
        <summary>
            Filter
        </summary>
        <div class="row">
            <input id="filter"
                type="text"
                placeholder="Filter..."
                oninput="updateFilter(this.value);"
                />
        </div>
    </details>
    <details open>
        <summary>
            Year
        </summary>
        <div class="row">
            <input id="yearinput"
                name="yearinput"
                type="number"
                placeholder="Jump to year..."
                onchange="yearinputChange(this.value);"
                />
            <button id="submit-yearinput"
                onclick="yearinputChange($('#yearinput').val());">
                GO!
            </button>
        </div>
        <div class="row">
            <button id="playpause"
                onclick="togglePlayPause()">
                Play / Pause
            </button>
        </div>
        <div class="row">
            <button id="goto-min"
                onclick="goToMinYear()">
                Go to first year
            </button>
        </div>
        <div class="row">
            <button id="goto-max"
                onclick="goToMaxYear()">
                Go to last year
            </button>
        </div>
    </details>
    <details>
        <summary>
            Background
        </summary>
        <div class="row">
            <input id="colorpicker-bg"
                type="color"
                onchange="setBgColor(this.value);">
            Background color
        </div>
    </details>
    <details>
        <summary>
            Links
        </summary>
        <div class="row" id="links-colpal-container">
            <!-- Filled by initLinksColorPalette() -->
        </div>
    </details>
    <details>
        <summary>
            Nodes
        </summary>
        <div class="row">
            <label for="ncp-activecheckbox">
                Display only active colors
            </label>
            <input id="ncp-activecheckbox"
                type="checkbox"
                onchange="nodesColorPaletteCheckboxOnChange(this.checked);">
        </div>
        <div class="row" id="nodes-colpal-container">
            <!-- Filled by initNodesColorPalette() -->
        </div>
    </details>
</div>

<div id="year-container">
    <div id="year"></div>
</div>

<div id="instructions-container">
    <u>
        Keyboard commands:
    </u>
    <table>
            <tr>
                <td>
                    <span class="key">&larr;</span>
                    <span class="key">&uarr;</span>
                    <span class="key">&darr;</span>
                    <span class="key">&rarr;</span>
                </td>
                <td>
                    Move graph
                </td>
            </tr>
            <tr>
                <td>
                    <span class="key">J</span>
                    <span class="key">K</span>
                </td>
                <td>
                    Zoom graph
                </td>
            </tr>
    </table>
</div>

<script src="{{jsUrl}}/configparser.js"></script>
<script>
    var p = new ConfigParser;

    // CONFIG ---------------------------------------------
    var config_defaultFilter = "{{ config_defaultFilter }}";

    var transportData = p.json2object("{{ data|escapejs }}");

    var config_showDead = p.str2pybool("{{ config_showDead }}");
    var config_maxLifeTime = p.str2number("{{ config_maxLifeTime }}");
    var config_nodesColorPaletteDisplayOnlyActive =
        p.str2pybool("{{ config_nodesColorPaletteDisplayOnlyActive }}");

    var config_minYear = p.str2number("{{ config_minYear }}");
    var config_maxYear = p.str2number("{{ config_maxYear }}");
    var config_defaultZoomLevel = p.str2number("{{ config_defaultZoomLevel }}");
    var config_nodeRadius = p.str2number("{{ config_nodeRadius }}");
    var config_linkDistance = p.str2number("{{ config_linkDistance }}");
    var config_yearsPerSecond = p.str2number("{{ config_yearsPerSecond }}");
    var config_nodeBgMaxAge = p.str2number("{{ config_nodeBgMaxAge }}");
    var config_nodeBgRadius = p.str2number("{{ config_nodeBgRadius }}");

    var config_nodeBgColor = p.str2hexcolor("{{ config_nodeBgColor }}", false);
    var config_graphBgColor = p.str2hexcolor("{{ config_graphBgColor }}", false);


    // GETPARAMS ------------------------------------------
    var getparam_filterString = "{{ getparam_filterString }}";
    var getparam_year = p.str2number("{{ getparam_year }}");
    var getparam_isPlaying = p.str2jsbool("{{ getparam_isPlaying }}");
    var getparam_linksColorPalette = p.str2colpal("{{ getparam_linksColorPalette }}");
    var getparam_nodesColorPalette = p.str2colpal("{{ getparam_nodesColorPalette }}");
    var getparam_graphBgColor = p.str2hexcolor("{{ getparam_graphBgColor }}");
</script>

<script src="{{jsUrl}}/graphs/tree.js"></script>

{% endblock content %}