/* FONTS ================================================== */
@font-face {
    font-family: 'mononoki';
    src: url('/static/fonts/mononoki/mononoki-Regular Nerd Font Complete.ttf');
}
@font-face {
    font-family: 'mononoki';
    src: url('/static/fonts/mononoki/mononoki Bold Nerd Font Complete.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'geosans';
    src: url('/static/fonts/geo-sans-light/GeosansLight.ttf');
}
@font-face {
    font-family: 'geosans';
    font-style: italic;
    src: url('/static/fonts/geo-sans-light/GeosansLight-Oblique.ttf');
}


/* BASE =================================================== */
* {
    font-family: 'geosans';
    font-weight: bold;
}
body {
    margin: 0px;
    padding: 0px;
}
a {
    color: purple;
}

#header {
    background-color: lightskyblue;
    color: black;
    padding: 10px 20px;
    box-shadow: 0px 0px 5px lightslategrey;
}
#header > a#homelink {
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: purple;
}

#content {
    float: left;
}


/* BASE =================================================== */
button {
    padding: 3px 8px;
    background-color: lightskyblue;
    border: 3px solid transparent;
    border-radius: 100px;
    cursor: pointer;
}

input[type="text"],
input[type="number"] {
    padding: 3px 8px;
    border: 3px solid white;
    border-radius: 100px;
}
input[type="text"]:hover,
input[type="number"]:hover {
    border-color: lightskyblue;
}
input[type="text"]:focus,
input[type="number"]:focus {
    border-color: lightskyblue;
}

.textbox {
    padding-left: 20px;
    padding-right: 20px;
}