{% extends 'base.html' %}

{% load static %}
{% block content %}

<link rel="stylesheet" href="{{cssUrl}}/converter/converter.css">

<div class="textbox">
    <h2>GEDCOM to JSON converter</h2>
    <p>
        Upload your GEDCOM file and you shall receive a JSON file that you can
        use as data file for your StachieGraph instance.
    </p>
    <p>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <label class="fileupload-label"
                    for="jsonupload">
                        Select file
                </label>
                <input id="jsonupload"
                    name="jsonupload"
                    type="file"
                    accept=".ged"
                    onchange="fileSelected(this)"
                    required>
                
                <span id="jsonupload-filename"
                    class="filename"></span>
            </div>
            <div class="row">
                Delete all Entries for people born after this year
                (leave empty to delete none):
                <input id="filter-birthyear"
                    name="filter-birthyear"
                    type="number">
            </div>
            <div class="row">
                Delete entries with missing / invalid birth year
                <input id="filter-birthyear-invalid"
                    name="filter-birthyear-invalid"
                    type="checkbox">
            </div>

            <div class="row">
                <label class="formsubmit-label"
                    for="submit-button">
                    Convert
                </label>
                <input id="submit-button"
                    type="submit">
            </div>
        </form>
    </p>
</div>

<script src="{{jsUrl}}/converter/converter.js"></script>

{% endblock content %}