/* LAYOUT =========================================================== */
.tools-graph-container {
    position: relative;
    display: block;
    margin: 20px;
}
.tools-graph-container .container-block {
    float: left;
    height: 100%;
}

#year-container {
    text-align: center;
}
#year {
    font-size: 2em;
}

#details {
    display: none;
    position: absolute;
    text-align: center;
    top: 0px;
    left: 0px;
    height: 20px;
    border-bottom: 2px solid black;
}


/* TOOLS ============================================================ */

#tools {
    position: relative;
    width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: lightskyblue;
    border-radius: 5px;
    left: 0px;
    transition-duration: 100ms;
    box-shadow: 0px 0px 5px lightslategrey;
}

.row {
    width: 100%;
    margin-bottom: 10px;
}

#tools > details {
    padding: 5px 15px;
    margin-bottom: 5px;
    background-color: royalblue;
    color: linen;
    border-radius: 16px;
    box-shadow: 0px 0px 5px lightslategrey;
}
#tools > details > summary {
    font-size: 1.2em;
    cursor: pointer;
    font-weight: bold;
}
#tools > details[open] > summary {
    margin-bottom: 10px;
}
#tools > details > summary::marker {
    content: "";
}
#tools > details > summary::after {
    content: "...";
}
#tools > details[open] > summary::after {
    content: "";
}
#filter {
    width: -moz-available;
    width: -webkit-fill-available;
}
#yearinput {
    width: 60px;
}

#lastname-filter {
    width: -moz-available;
    width: -webkit-fill-available;
}
#lastname-list {
    max-height: 300px;
    overflow-y: scroll;
}


/* GRAPH ============================================================ */
#graph {
    border: 2px solid lightskyblue;
}
.bar {
    fill: lightskyblue;
}