/* GRAPH ============================================================ */
canvas#graph {
    position: absolute;
    top: 0px;
    border: none;
    z-index: -1;
}

#node-details {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

/* TOOLS ============================================================ */
#tools {
    position: relative;
    width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: lightskyblue;
    border-radius: 5px;
    left: 0px;
    transition-duration: 100ms;
    box-shadow: 0px 0px 5px lightslategrey;
}
.row {
    width: 100%;
    margin-bottom: 10px;
}
#toggle-tools-container {
    width: 100%;
    margin-bottom: 10px;
    text-align: right;
}
#toggle-tools {
    position: relative;
    width: 30px;
    height: 30px;
    color: linen;
    text-align: center;
    border-radius: 100px;
    /*background-color: royalblue;*/
    display: inline-block;
    cursor: pointer;
    /*box-shadow: 0px 0px 5px lightslategrey;*/
}
#toggle-tools:before,
#toggle-tools:after{
    position: absolute;
    left: 15px;
    content: ' ';
    height: 25px;
    width: 2px;
    background-color: purple;
}
#toggle-tools:before{
    transform: rotate(45deg);
}
#toggle-tools:after{
    transform: rotate(-45deg);
}

#tools > details {
    padding: 5px 15px;
    margin-bottom: 5px;
    background-color: royalblue;
    color: linen;
    border-radius: 16px;
    box-shadow: 0px 0px 5px lightslategrey;
}
#tools > details > summary {
    font-size: 1.2em;
    cursor: pointer;
    font-weight: bold;
}
#tools > details[open] > summary {
    margin-bottom: 10px;
}
#tools > details > summary::marker {
    content: "";
}
#tools > details > summary::after {
    content: "...";
}
#tools > details[open] > summary::after {
    content: "";
}
#filter {
    width: -moz-available;
    width: -webkit-fill-available;
}
#yearinput {
    width: 60px;
}
#nodes-colpal-container {
    height: 200px;
    overflow-y: scroll;
}

#year-container {
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0px;
    bottom: 20px;
    text-align: center;
}
#year {
    display: inline-block;
    font-size: 2em;
}
#instructions-container {
    position: absolute;
    top: 80px;
    right: 20px;
}
.key {
    border: 1px solid black;
    width: 20px;
    display: inline-block;
    height: 20px;
    align-content: center;
    text-align: center;
    border-radius: 4px;
}
#instructions-container td {
    padding: 2px 5px;
}