{% load static %}
{% static 'css' as cssUrl %}
{% static 'js' as jsUrl %}
{% static 'img' as imgUrl %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{STATIC_URL}}/static/favicon.ico?version=0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{cssUrl}}/base.css?version=0">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>StachieGraph</title>
    {% endif %}
</head>

<body>
    <script src="{{jsUrl}}/lib/jquery-3.6.0.min.js"></script>

    <div id="header">
        <a id="homelink" href="/">
                StachieGraph
        </a>
    </div>
    <div id="content">
        {% block content %}
        no content...
        {% endblock content %}
    </div>
</body>