.row {
    width: 100%;
    margin-bottom: 15px;
}

.fileupload-label,
.formsubmit-label {
    padding: 3px 8px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: lightskyblue;
    border: 3px solid transparent;
    border-radius: 100px;
    cursor: pointer;
}
input[type="file"],
input[type="submit"] {
    /* Equivalent to display:none, but better for screen readers */
    opacity: 0;
    z-index: -1;
    position: absolute;
}