.link-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 20px;
}
.link-gallery .gallery-link {
    position: relative;
    width: 100%;
    border: 3px solid lightskyblue;
    border-radius: 500px;
    transition-duration: 200ms;
}
.link-gallery .gallery-link:hover {
    border-color: lightskyblue;
    box-shadow: 0px 0px 5px lightslategray;
}
.link-gallery .gallery-link img {
    width: 100%;
    border-radius: 500px;
    transition-duration: inherit;
}
.link-gallery .gallery-link:hover img {
    opacity: 0.1;
}

.link-gallery .hovertext {
    position: absolute;
    top: 85px;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    color: black;
    font-weight: bold;
    opacity: 0.0;
    transition-duration: inherit;
}
.link-gallery .gallery-link:hover .hovertext {
    opacity: 1.0;
}